* {
  text-align: center;
}

.heading {
  font-family: Arial;
  margin-top: 5vh;
}
.URL-input,
.db-input,
.string-output,
.convert-button,
.copy-button {
  font-size: 1.3em;
  padding: 5px 10px;
}

.convert-button {
  margin-bottom: 100px;
}

.URL-input {
  height: 15em;
}

.URL-input,
.string-output,
.db-input {
  border-radius: 4px 0px 0px 4px;
  width: 30em;
  border: 2px solid #eeeeee;
  background: #eeeeee;
  outline: none;
}

.URL-input:focus,
.string-output:focus,
.db-input:focus {
  border: 2px solid #0485ff;
}

.convert-button,
.copy-button {
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #0485ff;
  background: #0485ff;
  color: white;
}

img {
  width: 400px;
  height: auto;
  margin-top: 10vh;
  padding: 5px 10px;
}
